*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
}
.topnav{
    display: flex;
    box-shadow: 0px 0px 2px 0.5px rgb(232, 230, 230);
    overflow-x: hidden;

}
.topnav article .ar1{
    display: flex;
    align-items: center;
}
.topnav article .ar2{
    display: flex;
}
.topnav article .ar1 div{
    margin-left: 30px;
    margin-top: 15px;
    display: flex;
}
.topnav article .ar2 div{
    margin: 20px;
}
.topnav article .ar2{
    padding: 10px 0px 0px 40px;
}
.topnav article div img{
    margin-left: 175px;
    margin-top: 20px;
}
.topnav .ar1 .div2{
    margin-left: 300px;
}
.topnav .ar1 div a{
    text-decoration: none;
    color: black;
}
.topnav .ar2 a{
    text-decoration: none;
    color: black;
}
.topnav .ar1 .div2 .div3{
    background-color: rgb(248, 216, 14);
    padding: 10px ;
    width: 80px; 
    margin-top: 5px;
    border-radius: 5px;

}
.topnav .ar1 .div2 .location i{
    color: red;
  
}

#smallnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
    display: none;
}

#shownav{
    width: 1400px;
    height: 200vh;
    background-color: white;
    position: absolute;
    top: 0px;
    left: -3000px;
    /* opacity: 0.1; */
    /* padding: 20px 0px 0px 20px; */

}

@media(max-width:1025px){

    .topnav{
        display: none;
    }
    #smallnav{
        display: flex;
        padding: 0px 20px 0px 20px;
        justify-content: space-evenly;
        box-shadow: 0px 0px 2px 0.5px rgb(94, 92, 92);
        width: 1850px;
    }
    #smallnav #div1 img{
        height: 100px;
    }
    #smallnav #div2{
        font-size: 40px;
        padding: 10px 0px 0px 40px;
    }
    #smallnav #div3 a{
         text-decoration: none;
         font-size: 20px;
    }
    #smallnav #div3{
        background-color: rgb(248, 216, 14);
        padding: 20px ;
        width:100px; 
        height: 30px;
        margin-top: 15px;
        border-radius: 5px;
        /* margin: 30px 0px 0px 650px; */
        margin-left: 950px;
    
    }
    #shownav{
          font-size: 27px;

    }
    #shownav div a{
        text-decoration: none;
        padding: 40px 0px 0px 100px;

    }
    #shownav div{
        padding: 32px;
    }
    #shownav #div1{
        display: flex;
        justify-content:space-between;
    }
    #shownav #div2{
        font-size: 40px;
        padding-top: 30px;
    }
    #shownav #div5{
        padding: 0px 50px 0px 130px;
    }
    #shownav #div6{
        font-size: 30px ;
        display: flex;
        justify-content: space-between;

    }
    #shownav #div7{
        font-size: 27px ;
        display: flex;
        justify-content: space-between;

    }
    #shownav #div8{
        padding: 0px 50px 0px 130px;
    }

    #input1:checked ~ #shownav{
        left: 0px;
        /* transition:left 0.5s; */
    }

}
/* =========================hero1============================== */
.hero1 article .div1{
    font-size: 60px;
    padding-top: 90px;
    /* background-color: red; */

}
.hero1 article .div2{
    padding: 22px 0px 0px 170px;
}
.hero1 article .div3{
    padding: 25px 0px 0px 170px;
    font-size: 12px;
}
@media(max-width:1025px){
    .hero1 article .div1{
        font-size: 80px;
        padding: 100px 0px 0px 200px;
        /* background-color: aqua; */
        align-items: center;
    
    }
    .hero1 article .div2{
        padding: 50px 0px 0px 50px;
        font-size: 30px;
    }
    .hero1 article .div3{
        padding: 25px 0px 0px 50px;
        font-size: 20px;
    }
}
/* ================================hero2============================= */
.hero2 .ar1 div img{
    height: 340px;
    width: 750px;
    padding: 100px 0px 0px 180px;
}
.hero2{
    display: flex;
}
.hero2 .ar2 .div1{
    padding: 120px 0px 0px 25px;
    font-size: 30px;
}
.hero2 .ar2 .div2{
    padding: 20px 0px 0px 25px;
    font-size: 17px;
} 
.hero2 .ar2 .div3{
    padding: 30px 0px 0px 25px;
    font-size: 12px;
}
.hero2 .ar2 .div4{
    margin: 60px 0px 0px 25px;
    font-size: 18px;
    background-color: rgb(248, 216, 14);
    padding: 15px;
    width: 230px;
    border-radius: 5px;
}

@media(max-width:1025px){
    .hero2 .ar1 div img{
        height: 500px;
        width: 1000px;
        padding: 100px 0px 0px 100px;
    }
    .hero2{
        display: flex;
    }
    .hero2 .ar2 .div1{
        padding: 120px 0px 0px 250px;
        font-size: 60px;
    }
    .hero2 .ar2 .div2{
        padding: 20px 0px 0px 250px;
        font-size: 30px;
    } 
    .hero2 .ar2 .div3{
        padding: 30px 0px 0px 250px;
        font-size: 20px;
    }
    .hero2 .ar2 .div4{
        margin: 60px 0px 0px 250px;
        font-size: 30px;
        background-color: rgb(248, 216, 14);
        padding: 15px;
        width: 370px;
        border-radius: 5px;
    }
}
/* =============================hero3======================== */
.hero3 .ar1 .div1{
    font-size: 30px;
    padding: 30px 0px 0px 180px;
}
.hero3 .ar1 .div2{
    padding: 30px 0px 0px 180px;
}
.hero3 .ar2{
    display: flex;
    align-items: center;
    padding: 40px 0px 0px 150px;
    
}
.hero3 .ar2 div img{
    height: 250px;
    width: 380px;

}
.hero3 .ar3{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    /* padding: 20px 50px 0px 150px; */
}
.hero3 .ar3 .div1{
    padding: 30px 0px 0px 130px;
    font-size: 30px;
}
.hero3 .ar3 .div2{
    padding: 20px 0px 0px 130px;
}
.hero3 .ar3 .div3{
    padding: 30px 0px 0px 0px;
    font-size: 30px;
}
.hero3 .ar3 .div4{
    padding: 20px 0px 0px 0px;
}
.hero3 .ar3 .div5{
    padding: 20px 0px 0px 0px;
    font-size: 10px;
}
.hero3 .ar3 .div6{
    padding: 30px 0px 0px 0px;
    font-size: 30px;
}
.hero3 .ar3 .div7{
    padding: 20px 0px 0px 0px;
}

@media(max-width:1025px){
    .hero3 .ar1 .div1{
        font-size: 60px;
        padding: 50px 0px 0px 50px;
        /* background-color: aqua; */
    }
    .hero3 .ar1 .div2{
        padding: 30px 0px 0px 50px;
        font-size: 25px;
    }
    .hero3 .ar2{
        display: flex;
        align-items: center;
        padding: 50px 0px 0px 100px;
        
    }
    .hero3 .ar2 div img{
        height: 400px;
        width: 600px;
    
    }
    .hero3 .ar3{
        display: flex;
        /* align-items: center; */
        justify-content: space-evenly;
        padding: 20px 50px 0px 150px;
    }
    .hero3 .ar3 .div1{
        padding: 30px 0px 0px 130px;
        font-size: 40px;
    }
    .hero3 .ar3 .div2{
        padding: 20px 0px 0px 130px;
        font-size: 25px;
    }
    .hero3 .ar3 .div3{
        padding: 30px 0px 0px 100px;
        font-size: 40px;
    }
    .hero3 .ar3 .div4{
        padding: 20px 0px 0px 100px;
        font-size: 25px;
    }
    .hero3 .ar3 .div5{
        padding: 20px 0px 0px 100px;
        font-size: 15px;
    }
    .hero3 .ar3 .div6{
        padding: 30px 0px 0px 100px;
        font-size: 40px;
    }
    .hero3 .ar3 .div7{
        padding: 20px 0px 0px 100px;
        font-size: 25px;
    }
}

/* =======================hero4==================== */
.hero4 .ar1 .div1{
    font-size: 30px;
    padding: 100px 0px 0px 180px;
}
.hero4 .ar1 .div2{
    padding: 20px 0px 0px 180px;
}
.hero4 .ar2{
    display: flex;
    /* align-items: center; */
    padding: 30px 0px 0px 180px;
}
.hero4 .ar2 div img{
    height: 400px;
    width: 550px;
    margin: 20px;
}
.hero4 .ar3{
    display: flex;
    padding: 20px 530px 0px 200px;
    font-size: 40px;
    justify-content: space-between;
}
.hero4 .ar4 {
    display: flex;
    justify-content: space-between;
    padding: 20px 230px 0px 200px;
    font-size: 16px;
}
.hero4 .ar5 .div1{
    font-size: 40px;
    padding: 30px 0px 0px 200px;
}
.hero4 .ar5 .div2{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div3{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div4{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div5{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div6{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div7{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div8{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div9{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div10{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div11{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div12{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div13{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div14{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div15{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div16{
    font-size: 17px;
    padding: 15px 0px 0px 230px;
}
.hero4 .ar5 .div17{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div18{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div19{
    font-size: 17px;
    padding: 15px 0px 0px 230px;
}
.hero4 .ar5 .div20{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div21{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div22{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div23{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div24{
    font-size: 17px;
    padding: 15px 0px 0px 230px;
}
.hero4 .ar5 .div25{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div26{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div27{
    font-size: 17px;
    padding: 15px 0px 0px 230px;
}
.hero4 .ar5 .div28{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div29{
    font-size: 17px;
    padding: 15px 0px 0px 230px;
}
.hero4 .ar5 .div30{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div31{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
.hero4 .ar5 .div32{
    font-size: 30px;
    padding: 10px 0px 0px 200px;
}
.hero4 .ar5 .div33{
    font-size: 17px;
    padding: 15px 0px 0px 200px;
}
@media(max-width:1025px){
    .hero4 .ar1 .div1{
        font-size: 60px;
        padding: 100px 0px 0px 100px;
    }
    .hero4 .ar1 .div2{
        padding: 20px 0px 0px 100px;
        font-size: 23px;
    }
    .hero4 .ar2{
        display: flex;
        /* align-items: center; */
        padding: 30px 0px 0px 100px;
    }
    .hero4 .ar2 div img{
        height: 550px;
        width: 800px;
        margin: 20px;
    }
    .hero4 .ar3{
        display: flex;
        /* padding: 20px 530px 0px 200px; */
        font-size: 60px;
    }
    .hero4 .ar3 .div2{
        padding-left: 700px;
    }
    .hero4 .ar4 {
        display: flex;
        justify-content: space-between;
        padding: 20px 230px 0px 200px;
        font-size: 30px;
    }
    .hero4 .ar4 .div2{
        padding-left: 100px;
    }
    .hero4 .ar5 .div1{
        font-size: 70px;
        padding: 30px 0px 0px 200px;
    }
    .hero4 .ar5 .div2{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div3{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div4{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div5{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div6{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div7{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div8{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div9{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div10{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div11{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div12{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div13{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div14{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div15{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div16{
        font-size: 30px;
        padding: 15px 0px 0px 230px;
    }
    .hero4 .ar5 .div17{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div18{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div19{
        font-size: 30px;
        padding: 15px 0px 0px 230px;
    }
    .hero4 .ar5 .div20{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div21{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div22{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div23{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div24{
        font-size: 30px;
        padding: 15px 0px 0px 230px;
    }
    .hero4 .ar5 .div25{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div26{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div27{
        font-size: 30px;
        padding: 15px 0px 0px 230px;
    }
    .hero4 .ar5 .div28{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div29{
        font-size: 30px;
        padding: 15px 0px 0px 230px;
    }
    .hero4 .ar5 .div30{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div31{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
    .hero4 .ar5 .div32{
        font-size: 50px;
        padding: 10px 0px 0px 200px;
    }
    .hero4 .ar5 .div33{
        font-size: 30px;
        padding: 15px 0px 0px 200px;
    }
}

/* ==============================hero9======================= */
.hero9{
    display: flex;
    justify-content: space-between;
    padding: 100px 230px 0px 180px;
}
.hero9 article div{
    margin: 10px;
}
.hero9 article div a{
    text-decoration: none;
    color: black;
}
.hero9 article .div1{
    font-size: 20px;
    margin: 20px;
}
.hero9 .ar2 .div2 img{
    font-size: 50px;
}
@media(max-width:1025px){
    .hero9{
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0px 0px 200px;
        font-size: 20px;
        
    }
    .hero9 article div{
        margin: 10px;
    }
    .hero9 article div a{
        text-decoration: none;
        color: black;
    }
    .hero9 article .div1{
        font-size: 30px;
        margin: 20px;
    }
    .hero9 .ar2 .div2 img{
        font-size: 50px;
    }

}

/* =============================hero10=========================== */
.hero10 .ar1{
    display: flex;
    /* justify-content: space-between; */
    padding: 30px 150px 0px 150px;
}
.hero10 .ar1 div{
    display: flex;
    margin: 15px;
    align-items: center;
}
.hero10 .ar1 div a{
    text-decoration: none;
    color: black;
}
.hero10 .ar1 .div1 img{
    height: 30px;
}
.hero10 .ar1 .div2{
    padding: 0px 0px 0px 400px;
}
.hero10 .ar2 {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 150px 0px 110px;
}
.hero10 .ar2 div a{
    text-decoration: none;
    color: black;
}
.hero10 .ar2 .div1 img{
    height: 30px;
    width: 30px;
}
.hero10 .ar3{
    display: flex;
    padding: 20px 0px 0px 145px;
}
.hero10 .ar3 div a{
    text-decoration: none;
    margin: 20px;
    color: black;
}
.hero10 .ar4 {
   margin: 20px 150px 0px 150px;
}
@media(max-width:1025px){
    .hero10 .ar1{
        display: flex;
        /* justify-content: space-between; */
        padding: 30px 50px 0px 150px;
    }
    .hero10 .ar1 div img{
         
        height: 80px;
        width: 80px;
    }
    .hero10 .ar1 .div2 img{
        height: 50px;
        width: 180px;
    }
    .hero10 .ar2 {
        display: flex;
        justify-content: space-evenly;
        padding: 50px 0px 0px 150px;
        font-size: 30px;
        /* margin: 70px; */
    }
    .hero10 .ar2 div a{
        text-decoration: none;
        color: black;
    }
    .hero10 .ar2 .div1 img{
        height: 50px;
        width: 50px;
        padding-left: 500px;
    }
    .hero10 .ar3{
        display: flex;
        padding: 40px 0px 0px 100px;
        font-size: 30px;
    }
    .hero10 .ar3 div a{
        text-decoration: none;
        margin: 20px;
        color: black;
    }
    .hero10 .ar4 {
       margin: 20px 0px 0px 150px;
    }
}